header.mono
  ul#mobile-menu
    i.ion-ios-close-empty#close
    li
      a(href='/') Play
    li
      a(href='/events') Events
    li
      a(href='/schedule') Schedule
    li
      a(href='/travel') Travel
    li
      a(href='/faqs') FAQs
    li
      a(href='https://facebok.com/minet.mis') Facebook
  .container
    .twelve.columns
      nav
        .wrapper
          ul
            li
              a(href='/') Play
            li
              a(href='/leaderboard') Leaderboard
            li
              a.minet(href='/') MINET
            li
              a(href='https://minet-x.slack.com/') Slack
            li
              a(href='/logout') Logout
      nav.mobile
        .wrapper
          i.ion-navicon#open
          a.minet(href='/') MINET

          
