extends plain_layout

block content
  section#main.grey
    .container
      .row
        .twelve.columns
          .card.question-card.mono
            if error
              p.error= error
            if isOver
              img(src='https://i.imgflip.com/1swb24.jpg', alt='Tum jeet gayye!', class='end')
            else
              p
                span.userLevel Level #{currentUser.cryptxLevel}:
                span.question.serif #{question}
              form(method='post', action='/').mono
                input(type='text', placeholder='Press enter to submit', name='answer', maxlength='30', id="answer", required)
