extends plain_layout

block content
  section#main.grey
    .container
      .row
        .twelve.columns
          .card.leaderboard.smaller.mono
            h1.form-title Leaderboard
            table
              tr.header
                th Rank
                th Team
                th Level
              each team, index in leaderboard
                tr
                  td= index + 1
                  td= team.schoolName
                  td= team.cryptxLevel
